block pop_up
    mixin pop_up(title, desc, search, pg)
        .row.my-4.justify-content-center
            .card.col-md-3.text-center
                h4.card-title=title
                p #{desc}
                .row.justify-content-center
                    a.btn.btn-primary.btn-sm.mb-1.col-4(href='search') #{search}