extends index.pug
block main
  .container
    #title
      h1 About
    section
      h2 Usage
      p
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos perferendis voluptas voluptate dolorum cupiditate ullam veniam natus quis placeat explicabo? Tempora odit architecto provident quod aspernatur earum excepturi voluptates mollitia?Provident eligendi, illo aliquid ut saepe perspiciatis ab deleniti doloremque eaque sed magni, fuga dicta delectus dignissimos iure ipsa ea placeat nobis similique vero fugit architecto facere? Numquam, repellendus cupiditate.
    section
      h2 Charger Types
      #charger_types
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque libero molestias, alias quidem sed animi, illo quibusdam nihil suscipit placeat architecto delectus eligendi perferendis eaque ipsum soluta voluptatibus minus!Dignissimos illum pariatur magnam quis nobis assumenda, quam mollitia, laboriosam consequuntur ratione ipsum voluptatibus fuga. Sed vitae deleniti nisi quas eaque perferendis sit, ipsam corrupti sint dicta cumque eligendi unde!
