extends layout.pug
block main
  .container
    #title
      h1 Welcome to Open Charge!
    section
      h2 Usage
      p
        | This site is for all your electric charging needs.  Here you can search for chargers in your area and filter them by type.  We always recommend to search for public chargers since they are free, but you can search for a mix of public and private with the search tool. 

    section
      h2 Charger Types
      #charger_types
        img(src="https://wallbox.com/media/cms/copper/graphics-FAQs-04.jpg" alt="Table of Charger Types" class="rounded" height="350" width="100%")
      
    section
      h2 Features
      include includes/cards.pug