extends index.pug
block main
  .container
    form
      h1 Plan a Route
      .form-group
        label(for='to') To*
        input#to.form-control(type='text')
      .form-group
        label(for='from') From*
        input#from.form-control(type='text')
      input.btn.btn-primary(type='submit' value='Go')
