extends layout.pug
block main
  //- h2.text-center= Title
  //-cards for different features
  .container.mt-5bg(style='background-image : url(https://assets.greentechmedia.com/assets/content/cache/made/assets/content/cache/remote/https_assets.greentechmedia.com/content/images/articles/Electric_Car_Fleet_Charging_XL_721_420_80_s_c1.jpg)') 
    include includes/pop_up.pug
    +pop_up(title, desc, search)
    //- .row.justify-content-center
    //-   //- .card.mt-5(style={width: '75em', height: '25em'})
    //-   .card(style={width: '50em', height: '30em'})
    //-     #map
    //-       include includes/maps.pug
