doctype html
html(lang=en)
head
  block head_stuff
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{Title} 
    // <link rel="stylesheet" href="" />
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
body
  block navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='#') Where&apos;s A Charger?
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link(href='index') Home 
          a.nav-item.nav-link(href='about') About
          a.nav-item.nav-link(href='search') Search
          a.nav-item.nav-link(href='directions') Directions
  block main
    .container
      h1 Where&apos;s A Charger?
      .row
        .col-12 #{data}
      #about
        p
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit illo temporibus aspernatur velit, ut, dolorum omnis explicabo odit vero distinctio veniam non ea, animi aut repellat officiis ducimus facilis! Distinctio.Dolor quasi vel quibusdam quas obcaecati placeat non est suscipit quae, enim labore omnis veritatis atque esse? Alias, corporis? Sequi provident qui ducimus! Rem ex commodi veritatis facilis nesciunt repellat.
          a(href='about') More-&gt;

//about page
  .container
  #title
    h1 About
    // Necessary for adding a background image
  section
    h2 Usage
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos perferendis voluptas voluptate dolorum cupiditate ullam veniam natus quis placeat explicabo? Tempora odit architecto provident quod aspernatur earum excepturi voluptates mollitia?Provident eligendi, illo aliquid ut saepe perspiciatis ab deleniti doloremque eaque sed magni, fuga dicta delectus dignissimos iure ipsa ea placeat nobis similique vero fugit architecto facere? Numquam, repellendus cupiditate.
  section
    h2 Charger Types
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque libero molestias, alias quidem sed animi, illo quibusdam nihil suscipit placeat architecto delectus eligendi perferendis eaque ipsum soluta voluptatibus minus!Dignissimos illum pariatur magnam quis nobis assumenda, quam mollitia, laboriosam consequuntur ratione ipsum voluptatibus fuga. Sed vitae deleniti nisi quas eaque perferendis sit, ipsam corrupti sint dicta cumque eligendi unde!/>

//search page
  .container
  form
    h1 Find A Charger
    .form-group
      label(for='location') Location*
      input#location.form-control(type='text' required='')
    .form-group
      label(for='chargerType') Charger Type:
      select#chargerType.form-control
        option(value='')
    .form-group
      label(for='radius') Radius(mi):
      select#radius.form-control
        option(value='1') 1
        option(value='1') 5
        option(value='1') 10
        option(value='1') 15
        option(value='1') 25
        option(value='1') 50
    input.btn.btn-primary(type='submit' value='Go')/>
    
//directions page
 .container
  form
    h1 Plan a Route
    .form-group
      label(for='to') To*
      input#to.form-control(type='text')
    .form-group
      label(for='from') From*
      input#from.form-control(type='text')
    input.btn.btn-primary(type='submit' value='Go')/>

//directions results page
 .container 
  h1 Results
  #map
  ul#steps
    li These
    li Are
    li Some
    li Steps/>

//search results page
 .container
  h1 Results
  #map
  ul#chargers
    li These
    li Are
    li Some
    li Chargers/>