extends layout.pug
block main
  .container
    form(action='/search_results' method='post')
      h1 Find A Charger
      .form-group
        label(for='location') Location*
        input#location.form-control(type='text' name="location" required)
      // ChargerTypes:ID 
        1 = low und 2kW
        2 = med over 2kW
        3 = high over 40kW
      .form-group
        label(for='chargerType') Charger Type:
        select(name="chargerType" multiple)#chargerType.form-control
          option(value='1') Level 1
          option(value='2') Level 2
          option(value='3') Level 3
      .form-group
        label(for='connectionType') Connection Type
        select(name="conectionType" multiple)#conectionType.form-control
          option(value='7') (type 1) J1772
          option(value='32') (Type 1) CCS
          option(value='33') (Type 2) CCS
          option(value='2') CHAdeMO
          option(value='30') Tesla
      .form-check.form-inline
        input.form-check#isPublic(type="checkbox", name="isPublic", checked)
        label(for='isPublic') Public Chargers Only
      .form-group
        label(for='radius') Radius(mi):
        select(name="radius")#radius.form-control
          option(value='1') 1
          option(value='5') 5
          option(value='10') 10
          option(value='15') 15
          option(value='25') 25
          option(value='50') 50
      .form-group
        input#lat(name="lat" type="hidden" display="false")
      .form-group
        input#lng(name="lng" type="hidden" display="false")
  
      input.btn.btn-primary(type='submit' value='Go')
