extends index.pug
block main
  .container
    form
      h1 Find A Charger
      .form-group
        label(for='location') Location*
        input#location.form-control(type='text' required='')
      .form-group
        label(for='chargerType') Charger Type:
        select#chargerType.form-control
          option(value='')
      .form-group
        label(for='radius') Radius(mi):
        select#radius.form-control
          option(value='1') 1
          option(value='1') 5
          option(value='1') 10
          option(value='1') 15
          option(value='1') 25
          option(value='1') 50
      input.btn.btn-primary(type='submit' value='Go')
