doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title About
  // <link rel="stylesheet" href="" />
  link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') Where&apos;s A Charger?
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link(href='index.html') Home 
      a.nav-item.nav-link(href='about.html') About
      a.nav-item.nav-link(href='search.html') Search
      a.nav-item.nav-link(href='directions.html') Directions
h1 Results
#map
ul#chargers
  li These
  li Are
  li Some
  li Chargers
