extends layout.pug
block main
  .container
    form(action='/search_results' method='post')
      h1 Find A Charger
      .form-group
        label(for='location') Location*
        input#location.form-control(type='text' name="location" required)
      .form-group
        label(for='chargerType') Charger Type:
        select(name="chargerType")#chargerType.form-control
          option(value='')
      .form-group
        label(for='radius') Radius(mi):
        select(name="radius")#radius.form-control
          option(value='1') 1
          option(value='5') 5
          option(value='10') 10
          option(value='15') 15
          option(value='25') 25
          option(value='50') 50
      .form-group
        input#lat(name="lat" type="hidden" display="false")
      .form-group
        input#lng(name="lng" type="hidden" display="false")
  
      input.btn.btn-primary(type='submit' value='Go')
